<!DOCTYPE html>
<html>
<head>
	<title>New User Page</title>
</head>
<body>
	<h1>Enter Your Information Below:</h1>
	<br>
	<form action="/users" method="POST">
		Name: <input type="text" name="name"><br>
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		Location: <input type="text" name="location"><br>
		Age: <input type="text" name="age"><br>
		<input type="submit">
	</form>

</body>
</html>